.CardContainer {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    background-color: gray;
    width: 400px;
    padding: 10px;
}

.Name {
    font-weight: bolder;
    font-size: larger;
}

.job {
    font-size: small;
}

img { 
    width: 50px;
    height: 50px;
}

.titulo {
    font-weight: bold;
}